@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
*{
	box-sizing: border-box;
	/*border: 1px solid red;*/
	font-family: 'Heebo', sans-serif;
	 scroll-behavior: smooth;
}
body{
	margin: 0;
}
.mobilenav{
	display: block;
	padding-bottom: 3vh;
}
.basicnav{
	display: none;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
}
.progress-container {
	width: 100%;
	background-color: transparent;
	height: 5px;
	display: block;		
}
.progress-bar {	
	background-color: red;
	width: 0%;
	display: block;
	height: inherit;
}
#myCarousel .thumbnail {
	margin-bottom: 0;
}
.carousel-control.left, .carousel-control.right {
	background-image:none !important;
}
.carousel-control {
	color:#fff;
	top:40%;
	color:#428BCA;
	bottom:auto;
	padding-top:10vw;
	width:30px;
	height:30px;
	text-shadow:none;
	opacity:1;
}
.carousel-control:hover {
	color: #d9534f;
}
.carousel-control.left, .carousel-control.right {
	background-image:none !important;
}
.carousel-control.right {
	left:auto;
	right:32px;
}
.carousel-control.left {
	right:auto;
	left:auto;
}
div.part{
	height: 100vh;
	background-image: url("../images/part.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	margin-bottom: 1vh;
}
h1.part{
	margin-top: 0vw;
}
p.part{
	font-size: 1.4vw;
}
div.part2{
	margin-top: 10vw;
}
.footer-bs {
    background-color: #3c3d41;
	color: rgba(255,255,255,1.00);
	height: auto;
	width: 100%;
}
.logo{
	display: grid;
	margin: auto;
	width: 25vw;
}
.smedia{
	height: 10vh;
	background-color: gray;
	border-bottom: 2px solid black;
}
.flex{
	display: flex;
	flex-direction: row;
}
.flex i{
	margin-right: 2vw;
}
.icon{
	font-size: 4vw;
}
.addy{
	display: grid;
	margin: auto;
	text-align: center;
	margin-top: 5vw;
	font-size: 2vw;
}
.roww {
	background-image: url("../images/mark2.jpeg");
	height: 100vh;
	background-size: cover;
	background-position: center;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%; 
	background-attachment: fixed;
}
.thmb{
		height: 25vh;

}
.thmb img{
	max-width: 100%;
	max-height: auto;
}
.prod{
	position: absolute;
	top: 35vh;
	
	font-size: 20vw;
	width: 100%;
	color: white;
	text-shadow: 3px 4px 0 #80FF00;
	-webkit-text-shadow: 3px 4px 0 #80FF00;
	text-align: center;
}
.img{
	height: 70vh;
}
.conn{
	height: 170vh;
}
.conn2{
	height: 105vh;
	background-color: #3c3d41;
	color: white;
}
.teext{
	text-align: center;
	margin-bottom: 0;
	font-weight: bold;
	padding-top: 10vh;
}
.img1{
	background-image: url("../images/mark.jpg");
	background-size: cover;
	background-position: center;
}
.img2{
	background-image: url("../images/part2.jpg");
	background-size: cover;
	background-position: center;
}
#overlay {
	position: relative; /* Sit on top of the page content */
	width: 100%; /* Full width (cover the whole page) */
	height: 23vh; /* Full height (cover the whole page) */
	top: 47vh;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black; /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	opacity: 0.6;
}
#text{
  color: white;
  text-align: center;
}
.head{
	font-size: 5vw;
}
.mv{
	text-align: center;
}
.addy2 i{
	font-size: 6vw;
}
.addy p{
	font-size: 3vw;
}
.addy i{
	font-size: 10vw;
}
@media only screen and (min-width: 768px) {
	.mobilenav{
		display: none;
	}
	.basicnav{
		display: block;

	}
	.banner{
		margin-top: 2vh;
		height: 100vh;
		background-image: url("../images/veg.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.banner2{
		margin-top: 2vh;
		height: 100vh;
		background-image: url("../images/veg2.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.banner3{
		margin-top: 2vh;
		height: 100vh;
		background-image: url("../images/veg3.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.fixed-top {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: $zindex-fixed;
	}
	.progress-container {
		width: 100%;
		background-color: transparent;
		height: 5px;
		display: block;		
	}
	.progress-bar {	
		background-color: red;
		width: 0%;
		display: block;
		height: inherit;
	}
	#myCarousel .thumbnail {
		margin-bottom: 0;
	}
	.carousel-control.left, .carousel-control.right {
		background-image:none !important;
	}
	.carousel-control {
		color:#fff;
		top:40%;
		color:#428BCA;
		bottom:auto;
		padding-top:10vw;
		width:30px;
		height:30px;
		text-shadow:none;
		opacity:1;
	}
	.carousel-control:hover {
		color: #d9534f;
	}
	.carousel-control.left, .carousel-control.right {
		background-image:none !important;
	}
	.carousel-control.right {
		left:auto;
		right:32px;
	}
	.carousel-control.left {
		right:auto;
		left:auto;
	}
	div.part{
		height: 100vh;
		width: 100%;
		background-image: url("../images/part.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		text-align: center;
		margin-bottom: 1vh;
	}
	h1.part{
		font-size: 3vh;margin-top: 0vw;
	}
	p.part{
		font-size: 1.4vw;margin-left: 12vw;margin-right: 12vw;
	}
	div.part2{
		margin-top: 8vw;
	}
	.footer-bs {
	    background-color: #3c3d41;
		color: rgba(255,255,255,1.00);
		height: 40vh;
		width: 100%;
	}
	.logo{
		display: block;
		padding-top: 1vw;
		width: 12vw;
	}
	.con{
		height: 100vh;
		box-shadow: 4px 3px 8px 1px #969696;
  		-webkit-box-shadow: 4px 3px 8px 1px #969696;
	}
	.con1{
		height: 100vh;
	}
	.addy{
		display: grid;
		margin: auto;
		text-align: center;
		margin-top: 5vw;
		font-size: 1.2vw;
	}
	.roww {
		background-image: url("../images/mark2.jpeg");
		height:90vh;
		background-size: contain;
		background-position: center;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%; 
		background-attachment: fixed;
	}


	.prod{
		position: absolute;
		top: 25vh;
		text-align: center;
		font-size: 10vw;
		width: 100%;
		color: white;
		text-shadow: 3px 4px 0 #80FF00;
  		-webkit-text-shadow: 3px 4px 0 #80FF00;
	}
	.twopart{
		
	}
	.img{
		height: 70vh;
	}
	.conn{
		height: 110vh;
	}
	.conn2{
		height: 80vh;
		background-image: url("../images/mark2.jpeg");
		
		background-size: contain;
		background-position: center;
		border-top-left-radius: 50%;
		border-top-right-radius: 50%; 
		background-attachment: fixed;

	}
	.teext{
		text-align: center;
		
		font-weight: bold;
		padding-top: 10vh;
	}
	.img1{
		background-image: url("../images/mark.jpg");
		background-size: cover;
		background-position: center;
	}
	.img2{
		background-image: url("../images/part2.jpg");
		background-size: cover;
		background-position: center;
	}
	#overlay {
		position: relative; /* Sit on top of the page content */
		width: 100%; /* Full width (cover the whole page) */
		height: 27vh; /* Full height (cover the whole page) */
		top: 41.5vh;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: black; /* Black background with opacity */
		z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	}
	.head{
		font-size: 3vw;
	}
	.thm{
		width: 40vw;
	}
	.addy p{
		font-size: 1.7vw;
	}
	.addy i{
		font-size: 3vw;
	}
	.icon{
		font-size: 4vw;
	}
}