@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
*{
	box-sizing: border-box;
	/*border: 1px solid red;*/
	font-family: 'Heebo', sans-serif;
}
body{
	margin: 0;
}
.banner{
	margin-top: 5vh;
	height: 70vh;
	background-image: url("../images/veg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.banner2{
	margin-top: 5vh;
	height: 70vh;
	background-image: url("../images/veg2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.banner3{
	margin-top: 5vh;
	height: 70vh;
	background-image: url("../images/veg3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
}
.progress-container {
	width: 100%;
	background-color: transparent;
	height: 5px;
	display: block;		
}
.progress-bar {	
	background-color: red;
	width: 0%;
	display: block;
	height: inherit;
}
#myCarousel .thumbnail {
	margin-bottom: 0;
}
.carousel-control.left, .carousel-control.right {
	background-image:none !important;
}
.carousel-control {
	color:#fff;
	top:40%;
	color:#428BCA;
	bottom:auto;
	padding-top:10vw;
	width:30px;
	height:30px;
	text-shadow:none;
	opacity:1;
}
.carousel-control:hover {
	color: #d9534f;
}
.carousel-control.left, .carousel-control.right {
	background-image:none !important;
}
.carousel-control.right {
	left:auto;
	right:32px;
}
.carousel-control.left {
	right:auto;
	left:auto;
}
div.part{
	height: 100vh;
	background-image: url("../images/part.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	margin-bottom: 1vh;
}
h1.part{
	margin-top: 0vw;
}
p.part{
	font-size: 1.4vw;
}
div.part2{
	margin-top: 10vw;
}
.footer-bs {
    background-color: #3c3d41;
	color: rgba(255,255,255,1.00);
	height: auto;
	width: 100%;
}
.logo{
	display: grid;
	margin: auto;
	width: 25vw;
}
.smedia{
	height: 10vh;
	background-color: gray;
	border-bottom: 2px solid black;
}
.flex{
	display: flex;
	flex-direction: row;
}
.flex i{
	margin-right: 2vw;
}
.icon{
	font-size: 4vw;
}
.addy{
	display: grid;
	margin: auto;
	text-align: center;
	margin-top: 5vw;
	font-size: 3vw;
}
.thmb{
	height: 45vh;

}
.thmb img{
	max-width: 100%;
	max-height: auto;
}
.text{
	color: white;
}
.con1{
	height: 236	vh;
	
}
.addy2 i{
	font-size: 6vw;
}
.addy p{
	font-size: 3vw;
}
.addy i{
	font-size: 10vw;
}
@media only screen and (min-width: 600px){
	.con1{
		height: 230vh;
	}
	.banner, .banner2, .banner3{
		height: 100vh;
	}

	
}
@media only screen and (min-width: 768px) and (min-height:1000px){
	.con1{
		height: 285vw;
	}
	.banner, .banner2, .banner3{
		height: 100vw;
	}
}

@media only screen and (min-width: 600px) and (max-height:500px){
	.con1{
		height: 175vw;
	}
	.banner, .banner2, .banner3{
		height: 100vw;
	}
}

@media only screen and (min-width: 999px) {
	.banner{
		margin-top: 2vh;
		height: 100vh;
		background-image: url("../images/veg.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.banner2{
		margin-top: 2vh;
		height: 100vh;
		background-image: url("../images/veg2.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.banner3{
		margin-top: 2vh;
		height: 100vh;
		background-image: url("../images/veg3.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.fixed-top {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: $zindex-fixed;
	}
	.progress-container {
		width: 100%;
		background-color: transparent;
		height: 5px;
		display: block;		
	}
	.progress-bar {	
		background-color: red;
		width: 0%;
		display: block;
		height: inherit;
	}
	#myCarousel .thumbnail {
		margin-bottom: 0;
	}
	.carousel-control.left, .carousel-control.right {
		background-image:none !important;
	}
	.carousel-control {
		color:#fff;
		top:40%;
		color:#428BCA;
		bottom:auto;
		padding-top:10vw;
		width:30px;
		height:30px;
		text-shadow:none;
		opacity:1;
	}
	.carousel-control:hover {
		color: #d9534f;
	}
	.carousel-control.left, .carousel-control.right {
		background-image:none !important;
	}
	.carousel-control.right {
		left:auto;
		right:32px;
	}
	.carousel-control.left {
		right:auto;
		left:auto;
	}
	div.part{
		height: 100vh;
		width: 100%;
		background-image: url("../images/part.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		text-align: center;
		margin-bottom: 1vh;
	}
	h1.part{
		font-size: 3vh;margin-top: 0vw;
	}
	p.part{
		font-size: 1.4vw;margin-left: 12vw;margin-right: 12vw;
	}
	div.part2{
		margin-top: 8vw;
	}
	.footer-bs {
	    background-color: #3c3d41;
		color: rgba(255,255,255,1.00);
		height: 40vh;
		width: 100%;
		
	}
	.logo{
		display: block;
		padding-top: 1vw;
		width: 12vw;
	}
	.con{
		height: 100vh;box-shadow: 10px 10px 54px -6px rgba(0,0,0,0.75);
		box-shadow: 4px 3px 8px 1px #969696;
  		-webkit-box-shadow: 10px 10px 54px -6px rgba(0,0,0,0.75);
	}
	.con1{
		height: 110vh;
	}
	.addy{
		display: grid;
		margin: auto;
		text-align: center;
		margin-top: 5vw;
		font-size: 1.2vw;
	}
	.maincontent{
		display: none;
	}
	.loader 
	{
		display: block;
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: url('../images/TheGreenDeal.png') 50% 50% no-repeat rgb(249,249,249);
		background-size: 60vw;
		transition: all 0.5s ease-out;
	}
	.thmb{
		height: 45vh;

	}
	.thmb img{
		max-width: 100%;
    	max-height: auto;
	}
	.addy p{
		font-size: 1.7vw;
	}
	.addy i{
		font-size: 3vw;
	}
	.icon{
		font-size: 4vw;
	}
}