@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
*{
	box-sizing: border-box;
	/*border: 1px solid red;*/
	font-family: 'Heebo', sans-serif;
	 scroll-behavior: smooth;
}
body{
	margin: 0;
}
.mobilenav{
	display: block;
	padding-bottom: 3vh;
}
.basicnav{
	display: none;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
}
#myCarousel .thumbnail {
	margin-bottom: 0;
}
.carousel-control.left, .carousel-control.right {
	background-image:none !important;
}
.carousel-control {
	color:#fff;
	top:40%;
	color:#428BCA;
	bottom:auto;
	padding-top:10vw;
	width:30px;
	height:30px;
	text-shadow:none;
	opacity:1;
}
.carousel-control:hover {
	color: #d9534f;
}
.carousel-control.left, .carousel-control.right {
	background-image:none !important;
}
.carousel-control.right {
	left:auto;
	right:32px;
}
.carousel-control.left {
	right:auto;
	left:auto;
}
.footer-bs {
    background-color: #3c3d41;
	color: rgba(255,255,255,1.00);
	height: auto;
	width: 100%;
}
.logo{
	display: grid;
	margin: auto;
	width: 25vw;
}
.smedia{
	height: 10vh;
	background-color: gray;
	border-bottom: 2px solid black;
}
.flex{
	display: flex;
	flex-direction: row;
}
.flex i{
	margin-right: 2vw;
}
.icon{
	font-size: 4vw;
}
.addy{
	display: grid;
	margin: auto;
	text-align: center;
	margin-top: 5vw;
	font-size: 2vw;
}
.roww {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
}
.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}
.column {
	-ms-flex: 100%;
	flex: 100%;
	max-width: 100%;
}
.columnNM {
  -ms-flex: 100%;
	flex: 100%;
	max-width: 100%;
}

.columnNM img {
	margin-top: 0px;
	vertical-align: middle;
	width: 100%;
}
.thmb{
		height: 45vh;

}
.thmb img{
	max-width: 100%;
	max-height: auto;
}
.prod{
	position: absolute;
	top: 35vh;
	
	font-size: 20vw;
	width: 100%;
	color: white;
	text-shadow: 3px 4px 0 #80FF00;
	-webkit-text-shadow: 3px 4px 0 #80FF00;
	text-align: center;
}
.addy2 i{
	font-size: 6vw;
}
.addy p{
	font-size: 3vw;
}
.addy i{
	font-size: 10vw;
}
@media only screen and (min-width: 600px){
	.con1{
		height: 230vh;
	}
	.banner, .banner2, .banner3{
		height: 100vh;
	}

	
}
@media only screen and (min-width: 768px) and (min-height:1000px){
    .mobilenav{
		display: none;
	}
	.basicnav{
		display: block;

	}
	.con1{
		height: 285vw;
	}
	.banner, .banner2, .banner3{
		height: 50vw;
	}
}

@media only screen and (min-width: 600px) and (max-height:500px){
	.con1{
		height: 175vw;
	}
	.banner, .banner2, .banner3{
		height: 50vw;
	}
}

@media only screen and (min-width: 999px) {
	.mobilenav{
		display: none;
	}
	.basicnav{
		display: block;

	}
	.fixed-top {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: $zindex-fixed;
	}
	#myCarousel .thumbnail {
		margin-bottom: 0;
	}
	.carousel-control.left, .carousel-control.right {
		background-image:none !important;
	}
	.carousel-control {
		color:#fff;
		top:40%;
		color:#428BCA;
		bottom:auto;
		padding-top:10vw;
		width:30px;
		height:30px;
		text-shadow:none;
		opacity:1;
	}
	.carousel-control:hover {
		color: #d9534f;
	}
	.carousel-control.left, .carousel-control.right {
		background-image:none !important;
	}
	.carousel-control.right {
		left:auto;
		right:32px;
	}
	.carousel-control.left {
		right:auto;
		left:auto;
	}
	.footer-bs {
	    background-color: #3c3d41;
		color: rgba(255,255,255,1.00);
		height: 40vh;
		width: 100%;
		
	}
	.logo{
		display: block;
		padding-top: 1vw;
		width: 12vw;
	}
	.con{
		height: 100vh;
		box-shadow: 4px 3px 8px 1px #969696;
  		-webkit-box-shadow: 4px 3px 8px 1px #969696;
	}
	.con1{
		height: 100vh;
	}
	.addy{
		display: grid;
		margin: auto;
		text-align: center;
		margin-top: 5vw;
		font-size: 1.2vw;
	}
	.loader 
	{
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: url('../images/TheGreenDeal.png') 50% 50% no-repeat rgb(249,249,249);
		background-size: 60vw;
	}
	

	.roww {
	  display: -ms-flexbox; /* IE10 */
	  display: flex;
	  -ms-flex-wrap: wrap; /* IE10 */
	  flex-wrap: wrap;
	  padding: 0 4px;
	}

	/* Create four equal columns that sits next to each other */
	.column {
	  -ms-flex: 50%; /* IE10 */
	  flex: 50%;
	  max-width: 50%;
	  padding: 0 4px;
	}
	.columnNM {
	  -ms-flex: 50%; /* IE10 */
	  flex: 50%;
	  max-width: 50%;
	  padding: 0 0;
	}

	.columnNM img {
		margin-top: 0px;
	  vertical-align: middle;
	  width: 100%;
	}

	.column img {
	  margin-top: 8px;
	  vertical-align: middle;
	  width: 100%;
	}

	.thmb{
		height: 45vh;

	}
	.thmb img{
		max-width: 100%;
    	max-height: auto;
	}
	.prod{
		position: absolute;
		top: 45vh;
		
		font-size: 10vw;
		width: 100%;
		color: white;
		text-shadow: 3px 4px 0 #80FF00;
  		-webkit-text-shadow: 3px 4px 0 #80FF00;
	}
	.addy p{
		font-size: 1.7vw;
	}
	.addy i{
		font-size: 3vw;
	}
	.icon{
		font-size: 4vw;
	}
}